<!DOCTYPE html>
<html>
<head>
    <meta name="robots" content="noindex,nofollow,noodp,noydir" />
    <title>@ViewBag.Title - @SiteSettings.SiteName</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="page">
        <div id="header">
            <div id="menucontainer">
                <ul class="menu">
                    <li>@Html.ActionLink(T("Navigation_Home"), "Index", "Home")</li>
                    <li>@Html.ActionLink(T("Navigation_Imprint"), "About", "Home")</li>
@if (Request.IsAuthenticated)
{
                    <li>@Html.ActionLink(T("Navigation_Speakers"), "List", "Speaker")</li>
                    <li>@Html.ActionLink(T("Navigation_Events"), "Index", "Event")</li>
}
                </ul>
            </div>
        </div>
        <div id="main">
            <div id="navigation">
                <ul class="menu">
                    @RenderSection("navigation", required: false)
                </ul>
            </div>
            @RenderBody()
            <div id="footer">
                    @Html.Partial("_LogOnPartial")
            </div>
        </div>
    </div>
</body>
</html>
