@model IEnumerable<ListSessionVotingModel>

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
}

<h2>Index</h2>
<section data-ng-app="SpeakerNet.Voting" class="ng-cloak" ng-cloak>
    <div data-ng-controller="Voting">
        <div>
            Suche:
            <input data-ng-model="query" />
            Sortierung:
            <select data-ng-model="orderProperty">
                <option value="Name">Session</option>
                <option value="SpeakerName">Name</option>
                <option value="Duration">Dauer</option>
                <option value="Point">Punkte</option>
            </select>
        Vergebene Punkte: {{currentPoints}}</div>
       <table>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(c => c.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(c => c.SpeakerName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(c => c.Duration)
                    </th>
                    <th>
                        @Html.DisplayNameFor(c => c.Points)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="session in sessions | filter:query | orderBy:orderProperty">
                    <td data-ng-click="showSessionDetails(session)" class="showHand">
                        <div><b>{{session.Name}}</b></div>
                        <div data-ng-show="session.ShowAbstract" class="popup">
                            <p data-ng-bind-html-unsafe="session.Abstract"></p>
                        </div>
                    </td>
                    <td>{{session.SpeakerName}}</td>
                    <td>{{session.Duration}}</td>
                    <td data-ng-mouseenter="showVoting(session)">
                        <div class="voting popup" data-ng-show="session.ShowVoting" data-ng-mouseleave="hideVoting(session)">
                            <a data-ng-click="vote(session, 3, $event)">3</a>
                            <a data-ng-click="vote(session, 2, $event)">2</a>
                            <a data-ng-click="vote(session, 1, $event)">1</a>
                            <a data-ng-click="vote(session, 0, $event)">0</a>
                        </div>
                        <div>{{session.Points}}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

@section scripts 
{
    @Scripts.Render("~/resources/angular")
    <script src="~/js/Transformations.js"></script>
    <script src="~/js/VotingController.js"></script>
    <script type="text/javascript" src="~/js/SessionVotingServices.js"> </script>
    <script type="text/javascript" src="~/js/SessionVoting.js"> </script>
}