@model PictureUploadShowModel
@using System.Drawing;
@{
    ViewBag.Title = "Show";
    List<System.Drawing.Size> sizes = new List<System.Drawing.Size>
    {
        new Size(140,185),
        new Size(185,185)
    };
}
@section navigation {
    <ul class="menu">
        <li>@Html.ActionLink("Bild ändern", "Upload", new { speakerId = Model.SpeakerId })</li>
    </ul>
}
<h2>
    Variationen</h2>
<table>
    <thead>
        <tr>
            <th>
                Resize
            </th>
            <th>
                Crop
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var size in sizes)
        {
            <tr>
                <td colspan="2">
                    Größe: @size.Width x @size.Height
                </td>
            </tr>
            <tr>
                <td>
                    <img alt="" src="@Url.SpeakerPictureResizeUrl(Model.SpeakerId, size.Width, size.Height)" />
                </td>
                <td>
                    <img alt="" src="@Url.SpeakerPictureCropUrl(Model.SpeakerId, size.Width, size.Height)" />
                </td>
            </tr>
        }
    </tbody>
</table>
<h2>
    Original</h2>
<img alt="" src="@Url.SpeakerPictureResizeUrl(Model.SpeakerId, 0, 0)" />
