@model CreateSpeakerModel
@{
    ViewBag.Title = T("Navigation_Speakers");
}
<h2>@T("Speaker_CreateNewSpeaker")</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.EditorForModel()
        <p>
            <input type="submit" value="@T("Save")" />
        </p>
    </fieldset>
}
@section navigation {
    <ul class="menu">
        <li>@Html.SpeakerList(T("Speaker_SpeakerList"))</li>
    </ul>
}