<!DOCTYPE html>
@{
    var rootUrl = @Url.Content("~/");
}
<html>
<head>
    <meta name="robots" content="noindex,nofollow,noodp,noydir" />
    <title>@ViewBag.Title - @SiteSettings.SiteName</title>
       <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
    @Styles.Render("~/resources/styles")
</head>
<body data-app-root="@rootUrl">
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>@SiteSettings.SiteName</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <div id="menucontainer">
                <ul class="menu">
                    <li>@Html.ActionLink(T("Navigation_Home"), "Index", "Home")</li>
                    <li>@Html.ActionLink(T("Navigation_Imprint"), "About", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink(T("Navigation_Speakers"), "List", "Speaker")</li>
                        <li>@Html.ActionLink(T("Navigation_Events"), "Index", "Event")</li>
                        <li>@Html.ActionLink(T("Navigation_MailTemplates"), "Index", "MailTemplate")</li>
                    }
                </ul>
            </div>
        </div>
        <div id="main">
            <div id="navigation">
                @RenderSection("navigation", required: false)
            </div>
            @RenderBody()
            <div id="footer">
            </div>
        </div>
    </div>
    @Scripts.Render("~/resources/scripts")
    @RenderSection("scripts",required:false)
</body>
</html>
