@model SpeakerNet.ViewModels.CreateEventModel

@{
    ViewBag.Title = @T("Navigation_Events");
}

<h2>Neue Veranstaltung erstellen</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <p>
            <input type="submit" value="@T("Create")" />
        </p>
    </fieldset>
}

@section navigation {
    <li>@Html.ActionLink("Veranstaltungsliste", "Index")</li>
}
