@model DetailsEventModel
@{
    ViewBag.Title = @T("Navigation_Events");
}
<h2>@Model.Name</h2>
<fieldset>
    <legend>Session</legend>
    <table>
        @{
            var provider = ModelMetadataProviders.Current;
            var metaDataDuration = provider.GetMetadataForProperty(() => null, typeof(SessionListModel), "Duration").GetDisplayName();
        }
        <thead>
            <tr>
                <th>
                    Session
                </th>
                <th>
                    Level
                </th>
                <th>
                    Dauer - @metaDataDuration
                </th>
                <th>
                    Sprecher
                </th>
                <th>
                    Ausgewählt
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Session)
            {
                <tr>
                    <td>@Html.ActionLink(item.Name, "Details", "SpeakerSession", new { item.SpeakerId, item.Id }, null)
                    </td>
                    <td>@item.Level
                    </td>
                    <td>@item.Duration
                    </td>
                    <td>@Html.ActionLink(item.SpeakerFullName, "Details", "Speaker", new { id = item.SpeakerId }, null)
                    </td>
                    <td>@item.Selected
                    </td>
                </tr>
            }
        </tbody>
    </table>
</fieldset>
@section navigation {
    <ul class="menu">
        <li>@Html.ActionLink(T("Edit"), "Edit", new { id = Model.Id })</li>
        <li>@Html.ActionLink("Veranstaltungsliste", "Index")</li>
    </ul>
}