@model IEnumerable<EventListModel>
@{
    ViewBag.Title = @T("Navigation_Events");
}
<h2>@T("Navigation_Events")</h2>
<table>
    <thead>
        <tr>
            <th>
                &nbsp;
            </th>
            <th>
                Veranstaltung
            </th>
            <th>
                Sessions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink("Bearbeiten", "Edit", new { item.Id })
                </td>
                <td>@Html.ActionLink(item.Name, "Details", new { item.Id })
                </td>
                <td>@item.SessionCount
                </td>
            </tr>    
        }
    </tbody>
</table>
@section navigation {
    <li>@Html.ActionLink(T("Create"), "Create")</li>
}