@model SpeakerNet.ViewModels.DetailsMailTemplateModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Fields</legend>

    <div class="display-label">Description</div>
    <div class="display-field">@Model.Description</div>

    <div class="display-label">Subject</div>
    <div class="display-field">@Model.Subject</div>

    <div class="display-label">Body</div>
    <div class="display-field">@Html.Raw(Model.Body)</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
