@model DisplaySessionModel

@{
    ViewBag.Title = @T("Navigation_Sessions");
}

<h2>@T("Navigation_Session")</h2>

<fieldset>
    @Html.DisplayForModel()
</fieldset>

@section navigation {
    <li>@Html.ActionLink(T("Edit"), "EditSession", new { Model.SpeakerId, Model.Id })</li>
    <li>@Html.ActionLink("Sessionliste", "List", new {Model.SpeakerId})</li>
    <li>@Html.ActionLink("Sprecherdaten", "Details", "Speaker", new { id = Model.SpeakerId }, null)</li>
}