@model SpeakerSessionListModel
@{
    ViewBag.Title = @T("Navigation_Sessions");
}
<h2>@T("SpeakerSession_List", @Model.Firstname, @Model.Lastname)</h2>
<table>
    <thead>
        <tr>
            <th>
                &nbsp;
            </th>
            <th>@typeof(SpeakerSessionIndexModel).GetDisplayName("Name")
            </th>
            <th>@typeof(SpeakerSessionIndexModel).GetDisplayName("Level")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Sessions)
        {
            <tr>
                <td>@Html.ActionLink(T("Edit"), "EditSession", new { speakerid = Model.Id, id = item.Id })
                </td>
                <td>@Html.ActionLink(item.Name, "Details", new { speakerid = Model.Id, id = item.Id })
                </td>
                <td>@item.Level
                </td>
            </tr>
        }
    </tbody>
</table>
@section navigation {
    <li>@Html.ActionLink("Neuen Sessionvorschlag anlegen", "CreateSession", new { speakerid = Model.Id })</li>
    <li>@Html.ActionLink("Sprecherdaten","Details", "Speaker", new { id=Model.Id}, null)</li>
    @if (Request.IsAuthenticated)
    {
        <li>@Html.ActionLink("Sprecherliste", "List", "Speaker")</li>
    }
}